@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
    display: inline-block;
    animation-name: bouncing;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    &:nth-child(2) {
      animation-delay: 125ms;
    }
    &:nth-child(3) {
      animation-delay: 250ms;
    }
  }
  
  @keyframes bouncing {
    0% {
      transform: none;
    }
    
    33% {
      transform: translateY(-.3em);
    }
    
    66% {
      transform: none;
    }
  }

@layer components {
    .sidebar-icon{
        @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
        shadow-lg bg-gray-800 text-green-500 rounded-3xl
        hover:bg-green-600 hover:text-white hover:rounded-xl
        transition-all 
        duration-300 ease-linear cursor-pointer
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 
        rounded-md shadow-md text-white bg-gray-900 text-xs
        font-bold transition-all duration-200 scale-0 origin-left
    }

    .message-selections {
        @apply mt-10 p-2 w-[80%] text-green-500 outline-green-500 
        outline-2 outline rounded-3xl h-fit text-wrap text-center shadow-lg hover:bg-green-600
        hover:outline-green-600 hover:text-white hover:cursor-pointer transition-all duration-300
    }

    .brt-rounded-3xl {
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .brb-rounded-3xl {
        border-radius: 0 0 1.5rem 1.5rem;
    }
    .full-message-wrapper{
        @apply max-w-[75%] h-fit flex my-5
    }
    .full-message-wrapper-user{
        @apply max-w-[75%] h-fit flex my-5 self-end 
    }
    .image-container{
        @apply w-12 h-[100%] flex justify-end mx-3
    }
    .robby-image{
        @apply w-12 h-12 rounded-3xl object-cover 
    }
    .user-image{
        @apply  text-green-500
    }
    .message-and-timestamp{
        @apply flex flex-col  max-w-[50vw]
    }
    .timestamp{
        @apply w-fit h-fit text-gray-400  text-sm 
    }
    .timestamp-user{
        @apply w-fit h-fit text-gray-400  text-sm self-end
    }
    .message{
        @apply w-fit bg-green-600 text-white py-2 px-4 rounded-3xl text-lg
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}